<body>
  <h1>You have a new notification from <%= @mail.source %></h1>
  <p>
    <b>Name: </b> <%= @mail.name %>
  </p>
  <p>
    <b>Email: </b> <%= @mail.email %>
  </p>
  <p>
    <b>Message: </b> <%= @mail.body %>
  </p>
  <p>
    <b>Submitted at: </b> <%= @mail.time %>
  </p>
</body>
